= render 'shared/header'

.account-section.account-breakdown
  %table
    %thead
      %tr
        %th Description
        %th Base Cost
        %th Quantity
        %th Subtotal
    %tr
      %td Private Org Repos
      %td $xx/mo
      %td x2
      %td $xx
    %tr
      %td Private Personal Repos
      %td $x/mo
      %td x3
      %td $xx
  %dl
    %dt Total Monthly Cost
    %dd $xx
